<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="text-align: center; background-color: lightcoral; width: 500px; height: 350px; margin-left: 400px;">
        <h1> My Instagram Profile </h1>
        <img style="border-radius: 50%;width: 200px;height: 200px; border: 2px solid pink;"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQooRFullJmIbf79sSSr-J5yVqDTJd3kHPz3WW4OQ18eA&s=10"/>
        <h2>👧🏼Posts: 15     <span>       |  ♥️Likes: 123</span></h2> 
        
    </div>
</body>
</html>